@media (max-width:770px) {
	#copy {
		position:relative;	
		top: 0 !important;
	}
	
	.griditem, .griditem-wide {
		width: 48%;	
	}
	
	.container-fluid {
		padding: 0 3rem !important;	
	}
	
	#gallery {
		display:block;	
	}
}

@media (max-width:770px) {
	.griditem, .griditem-wide {
		width: 100%;
		margin: 0 0 2rem;	
	}
}