html {
	font-size: 10px;
	font-family: 'Handlee', cursive;	
	color: white;
    text-shadow: -3px 3px 3px black;
	margin: 2rem 0;	
	text-align:center;
}

html, body {
	min-height: 100%;	
}

a {
	color: #fcf7ab;	
}

.container-fluid {
	padding-right: 4rem !important;	
}

#chalkboard {
	background: url(/img/blackboard.jpg) no-repeat center center; 
	background-size: 100% 100%;
	position:fixed;
	top: 0;bottom:0;left:0;right:0;
}

.tilde {
	margin: 3rem auto;
	display:block;	
	font-size: 4rem;
}

#copy {
	xposition:fixed;	
}

.grid {
	padding: 0 !important;	
}

.griditem {
	width: 31%;	
	margin: 1%;
}

.griditem-wide {
	width: 64%;	
	margin: 1%;
}

.griditem img{
	width: 100%;
	height: auto;
	border: 1px #666 solid;
}

h1 {
	text-transform:uppercase;
	font-size:4rem;
	margin:0;
	font-weight: normal;
}

h2 {
	margin: 0;
	font-size:3rem;	
}

#gallery h2 {
	margin: 4rem 0 3rem;
    font-size: 3rem;
    font-weight: normal;
    text-transform: uppercase;	
}

p {
	font-size: 2rem;	
}

p.caps {
	text-transform:uppercase;	
}

#gallery {
	display:none;	
}

.textbox h2 {
	margin-top: 2rem;	
}

.textbox p, .textbox h2 {
	text-align:left;	
}


#vid {
	width: 100%;	
	border: 1px solid white;
    padding: 5px;
}